<Modal Visiable="Visiable" DialogBackdropVisiable DialogCentered
        DialogSizeSmall="@DialogSizeSmall"
        DialogSizeLarge="@DialogSizeLarge"
        DialogSizeExtraLarge="@DialogSizeExtraLarge"
        DialogScrollable="@DialogScrollable">
     <TitleContent>@Title</TitleContent>
    <HeaderContent>
        <div>
            <button type="button" class="close ml-3" data-dismiss="modal" aria-label="Close" @onclick="Close">
                <span aria-hidden="true">×</span>
            </button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Max" @onclick="SwitchDialogSizeExtraLarge">
                <span aria-hidden="true">◻</span>
            </button>
        </div>
    </HeaderContent>
    <BodyContent>
        @if (UsePreTag)
        {
            <pre>@Content</pre>
        }
        else
        {
            @foreach (var line in ContentLines)
            {
                <p>@line</p>
            }
        }
    </BodyContent>
    <FooterContent>
        <button type="button" class="btn btn-primary" @onclick="Ok">@TextOk</button>
        @if (OkCallback != null)
        {
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Cancel">@TextCancel</button>
        }
    </FooterContent>
</Modal>