<Modal Visiable="Visiable" DialogBackdropVisiable DialogCentered DialogSizeSmall="@DialogSizeSmall" DialogSizeLarge="@DialogSizeLarge" DialogSizeExtraLarge="@DialogSizeExtraLarge">
    <TitleContent>@Title</TitleContent>
    <HeaderContent>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
            <span aria-hidden="true">×</span>
        </button>
    </HeaderContent>
    <BodyContent>
        @if (UsePreTag)
        {
            <pre>@Content</pre>
        }
        else
        {
            <p>@Content</p>
        }
    </BodyContent>
    <FooterContent>
        <button type="button" class="btn btn-primary" @onclick="Ok">@TextOk</button>
        @if (OkCallback != null)
        {
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Cancel">@TextCancel</button>
        }
    </FooterContent>
</Modal>