<Modal Visiable="Visiable" DialogBackdropVisiable
    DialogCentered="@DialogCentered"
    DialogScrollable="@DialogScrollable"
    DialogSizeSmall="@DialogSizeSmall"
    DialogSizeLarge="@DialogSizeLarge"
    DialogSizeExtraLarge="@DialogSizeExtraLarge">
    <TitleContent>@Title</TitleContent>
    <HeaderContent>
        <div>
            <button type="button" class="close ml-3" data-dismiss="modal" aria-label="Close" @onclick="Close">
                <span aria-hidden="true">×</span>
            </button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Max" @onclick="SwitchDialogSizeExtraLarge">
                <span aria-hidden="true">◻</span>
            </button>
        </div>
    </HeaderContent>
    <BodyContent>
        @Content
    </BodyContent>
</Modal>