@using Microsoft.AspNetCore.Components.Forms
@inherits ComponentBase_WithGettextSupport;

@ChildContent
<nav>
    <ul class="pagination">
        <li class="page-item @(FirstPageEnable ? "" : "disabled")">
            <a href="javascript:;" class="page-link" @onclick="@(e => { ChangeOffset(0); })">&laquo;</a>
        </li>
        <li class="page-item @(FirstPageEnable ? "" : "disabled")">
            <a href="javascript:;" class="page-link"
                @onclick="@(e => { ChangeOffset(Offset - PageSize); })">&lsaquo;</a>
        </li>
        @if (PageIndexEditable)
        {
            <li class="page-item disabled">
                <InputNumber  class="form-control rounded-0 border-left-0" style="width: 5rem;" @bind-Value="PageIndex"></InputNumber>
            </li>
            @if (DisplayPageCount)
            {
                <li class="page-item disabled">
                    <span class="page-link">/ @PageCount</span>
                </li>
            }
        }
        else
        {
            @if (DisplayPageCount)
            {
                <li class="page-item disabled">
                    <span class="page-link">@PageIndex / @PageCount</span>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link">@PageIndex</span>
                </li>
            }
        }
        <li class="page-item @(LastPageEnable ? "" : "disabled")">
            <a href="javascript:;" class="page-link"
                @onclick="@(e => { ChangeOffset(Offset + PageSize); })">&rsaquo;</a>
        </li>
        <li class="page-item @(LastPageEnable ? "" : "disabled")">
            <a href="javascript:;" class="page-link"
                @onclick="@(e => { ChangeOffset((PageCount - 1) * PageSize); })">&raquo;</a>
        </li>
        @if (DisplayRecordCount)
        {
            <li class="page-item disabled">
                <span class="page-link">@RecordCountText@RecordCount</span>
            </li>
        }
    </ul>
</nav>