@inherits LayoutComponentBase

@code
{
    private void Show<T>()
    {
        Body = Quick.Blazor.Bootstrap.Utils.BlazorUtils.GetRenderFragment<T>();
    }
}
<div class="page">
    <div class="sidebar">
        <NavMenu ActiveKey="Home">
            <Title>
                <span>Quick.Blazor.Bootstrap</span>
            </Title>
            <ChildContent>
                <NavMenuItem Key="Home" OnClick="@(()=>Show<Pages.Index>())">
                    <Tab>
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Tabs" OnClick="@(()=>Show<Pages.TabsTest>())">
                    <Tab>
                        <span class="oi oi-plus" aria-hidden="true"></span> Tabs
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Pagination" OnClick="@(()=>Show<Pages.PaginationTest>())">
                    <Tab>
                        <span class="oi oi-plus" aria-hidden="true"></span> Pagination
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Tree" OnClick="@(()=>Show<Pages.TreeTest>())">
                    <Tab>
                        <span class="oi oi-plus" aria-hidden="true"></span> Tree
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Accordion" OnClick="@(()=>Show<Pages.AccordionTest>())">
                    <Tab>
                        <span class="oi oi-plus" aria-hidden="true"></span> Accordion
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="FileManage" OnClick="@(()=>Show<Pages.FileManage>())">
                    <Tab>
                        <span class="oi oi-plus" aria-hidden="true"></span> FileManage
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="ProcessManage" OnClick="@(()=>Show<Pages.ProcessManage>())">
                    <Tab>
                        <span class="oi oi-plus" aria-hidden="true"></span> ProcessManage
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Terminal" OnClick="@(()=>Show<Pages.Terminal>())">
                    <Tab>
                        <span class="oi oi-plus" aria-hidden="true"></span> Terminal
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="LogViewTest" OnClick="@(()=>Show<Pages.LogViewTest>())">
                    <Tab>
                        <span class="oi oi-plus" aria-hidden="true"></span> LogView
                    </Tab>
                </NavMenuItem>
            </ChildContent>
        </NavMenu>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
