@inherits LayoutComponentBase_WithGettextSupport

@code
{
    private void Show<T>()
    {
        Body = Quick.Blazor.Bootstrap.Utils.BlazorUtils.GetRenderFragment<T>();
    }
}
<div class="page">
    <div class="sidebar">
        <NavMenu ActiveKey="Home">
            <Title>
                <span>Quick.Blazor.Bootstrap</span>
            </Title>
            <ChildContent>
                <NavMenuItem Key="Home" OnClick="@(()=>Show<Pages.Index>())">
                    <Tab>
                        <i class="fa fa-home" aria-hidden="true"></i> @TextHome
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Tabs" OnClick="@(()=>Show<Pages.TabsTest>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> @TextTabs
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Pagination" OnClick="@(()=>Show<Pages.PaginationTest>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> @TextPagination
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Tree" OnClick="@(()=>Show<Pages.TreeTest>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> @TextTree
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Accordion" OnClick="@(()=>Show<Pages.AccordionTest>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> @TextAccordion
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="FileManage" OnClick="@(()=>Show<Quick.Blazor.Bootstrap.Admin.FileManageControl>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> @TextFileManage
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="ProcessManage" OnClick="@(()=>Show<Quick.Blazor.Bootstrap.Admin.ProcessManageControl>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> @TextProcessManage
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Terminal" OnClick="@(()=>Show<Quick.Blazor.Bootstrap.Terminal.TerminalControl>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> @TextTerminal
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="LogViewTest" OnClick="@(()=>Show<Pages.LogViewTest>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> @TextLogView
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="ReverseProxy" OnClick="@(()=>Show<Quick.Blazor.Bootstrap.ReverseProxy.ReverseProxyManageControl>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> @TextReverseProxy
                    </Tab>
                </NavMenuItem>
                <NavMenuItem Key="Crontab" OnClick="@(()=>Show<Quick.Blazor.Bootstrap.CrontabManager.CrontabManageControl>())">
                    <Tab>
                        <i class="fa fa-plus" aria-hidden="true"></i> Crontab
                    </Tab>
                </NavMenuItem>
            </ChildContent>
        </NavMenu>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <TopRow></TopRow>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
