@inherits ComponentBase_WithGettextSupport;

<div class="@ControlUtils.GetCommonClass(Field)" style="@Field.Html_Style">
    <Quick.Blazor.Bootstrap.Pagination @bind-Offset="Offset" PageSize="@PageSize" RecordCount="@RecordCount"
        FirstPageText="@TextFirst" PreviousPageText="@TextPrev" NextPageText="@TextNext" LastPageText="@TextLast"
        RecordCountText="@TextRecords" PageText="@TextPages" />
</div>