@using Quick.Fields
@using Quick.Blazor.Bootstrap

<div class="@ControlUtils.GetCommonClass(Field)" style="@Field.Html_Style">
    <Tabs NavTabsExtraClass="mb-2">
        @if (Field.Children != null)
        {
            @foreach (var field in Field.Children)
            {
                <TabPane Key="@field.Id">
                    <Tab>@field.Name</Tab>
                    <ChildContent>
                        <div class="@ControlUtils.GetCommonClass(field)">
                            @foreach (var child in field.Children)
                            {
                                <Control Field="child"></Control>
                            }
                        </div>
                    </ChildContent>
                </TabPane>
            }
        }
    </Tabs>
</div>

@code
{
    [Parameter]
    public FieldForGet Field { get; set; }
}