@using Quick.Fields

<div class="form-group">
    <label>@Field.Name</label>
    @if (Field.Input_ReadOnly.HasValue && Field.Input_ReadOnly.Value)
    {
        <textarea rows="@(Field.InputTextArea_Rows==null?10:Field.InputTextArea_Rows.Value)" class="form-control @(string.IsNullOrEmpty(Field.Input_ValidationMessage)?"":"invalid")" @bind="@Field.Value" readonly></textarea>
    }
    else
    {
        <textarea rows="@(Field.InputTextArea_Rows==null?10:Field.InputTextArea_Rows.Value)" class="form-control @(string.IsNullOrEmpty(Field.Input_ValidationMessage)?"":"invalid")" @bind="@Field.Value"></textarea>
    }
    @if (!string.IsNullOrEmpty(Field.Description))
    {
        <small class="form-text text-muted">@Field.Description</small>
    }
    @if (!string.IsNullOrEmpty(Field.Input_ValidationMessage))
    {
        <div class="validation-message">@Field.Input_ValidationMessage</div>
    }
</div>

@code
{
    [Parameter]
    public FieldForGet Field { get; set; }
}