@using Quick.Fields
@using Quick.Blazor.Bootstrap.Admin
@using System.Text

<InputBase Field="@Field">
@if (Field.Input_ReadOnly.HasValue && Field.Input_ReadOnly.Value)
{
    <input type="text" class="@ControlUtils.GetInputClass(Field)" @bind="@Field.Value" readonly>
}
else
{
    <input type="text" class="@ControlUtils.GetInputClass(Field)" @bind="@Field.Value">
    <div class="input-group-append">
        <button type="button" class="@ControlUtils.GetButtonClass(Field)" @onclick="selectFile">..</button>
    </div>
}
</InputBase>

<ModalWindow @ref="modalWindow" DialogSizeExtraLarge="true" DialogCentered="false" ModalBodyCls="p-0" />