@using Quick.Fields
@using Quick.Blazor.Bootstrap.Admin
@using System.Text

<div class="form-group">
    <label>@Field.Name</label>
    <div class="input-group">
        @if (Field.Input_ReadOnly.HasValue && Field.Input_ReadOnly.Value)
        {
            <input type="text" class="@ControlUtils.GetInputClass(Field)" @bind="@Field.Value" readonly>
        }
        else
        {
            <input type="text" class="@ControlUtils.GetInputClass(Field)" @bind="@Field.Value">
            <div class="input-group-append">
                <button type="button" class="@ControlUtils.GetButtonClass(Field)" @onclick="selectFile">..</button>
            </div>
        }
    </div>

    @if (!string.IsNullOrEmpty(Field.Description))
    {
        <small class="form-text text-muted">@Field.Description</small>
    }
    @if (!string.IsNullOrEmpty(Field.Input_HelpText))
    {
        <small class="form-text text-muted">@Field.Input_HelpText</small>
    }
    @if (!string.IsNullOrEmpty(Field.Input_ValidationMessage))
    {
        <div class="validation-message">@Field.Input_ValidationMessage</div>
    }
</div>

<ModalWindow @ref="modalWindow" DialogSizeExtraLarge="true" DialogCentered="false" ModalBodyCls="p-0" />