@using Quick.Fields

<InputBase Field="@Field">
@if (Field.Input_ReadOnly.HasValue && Field.Input_ReadOnly.Value)
{
    <InputSelect class="@ControlUtils.GetInputClass(Field)" @bind-Value="@Field.Value" disabled>
        @if (string.IsNullOrEmpty(Field.Value) && !Field.InputSelect_Options.ContainsKey(""))
        {
            <option value=""></option>
        }
        @foreach (var t in Field.InputSelect_Options)
        {
            <option value="@t.Key">@t.Value</option>
        }
    </InputSelect>
}
else
{
    <InputSelect class="@ControlUtils.GetInputClass(Field)" @bind-Value="@Field.Value">
        @if (string.IsNullOrEmpty(Field.Value) && !Field.InputSelect_Options.ContainsKey(""))
        {
            <option value=""></option>
        }
        @foreach (var t in Field.InputSelect_Options)
        {
            <option value="@t.Key">@t.Value</option>
        }
    </InputSelect>
}
</InputBase>

@code
{
    [Parameter]
    public FieldForGet Field { get; set; }
}