@using Quick.Fields

<div class="@ControlUtils.GetFormGroupClass(Field)">
    <label for="@Field.Id">@Field.Name</label>
    <div class="custom-control custom-switch">
        @if (Field.Input_ReadOnly.HasValue && Field.Input_ReadOnly.Value)
        {
            <InputCheckbox class="custom-control-input" @bind-Value="Value" id="@id" disabled />
        }
        else
        {
            <InputCheckbox class="custom-control-input" @bind-Value="Value" id="@id" />
        }
        <label class="custom-control-label" for="@id"></label>
    </div>
    <InputDescription Description="@Field.Description" />
</div>

@code
{
    private string id = "checkbox_" + Guid.NewGuid().ToString("N");
    [Parameter]
    public FieldForGet Field { get; set; }

    private bool Value
    {
        get
        {
            if (bool.TryParse(Field.Value, out var ret))
                return ret;
            return false;
        }
        set
        {
            Field.Value = value.ToString();
        }
    }
}