@using Quick.Fields

@if (Field.Input_Disabled.HasValue && Field.Input_Disabled.Value)
{
    <button type="button" class="@ControlUtils.GetButtonClass(Field)" style="@Field.Html_Style" @onclick="OnClick"
        disabled>@Field.Name</button>
}
else
{
    <button type="button" class="@ControlUtils.GetButtonClass(Field)" style="@Field.Html_Style"
        @onclick="OnClick">@Field.Name</button>
}

@code
{
    [Parameter]
    public FieldForGet Field { get; set; }

    public void OnClick()
    {
        Field.Value = Field.Value;
    }
}