@using Quick.Fields

<div class="form-group">
    <div class="@ControlUtils.GetAlertClass(Field)" style="@Field.Html_Style" role="alert">
        @if (!string.IsNullOrEmpty(Field.Name))
        {
            @if (Field.Input_IsLarge.HasValue && Field.Input_IsLarge.Value)
            {
                <h2 class="alert-heading">@Field.Name</h2>
            }
            else if (Field.Input_IsSmall.HasValue && Field.Input_IsSmall.Value)
            {
                <h5 class="alert-heading">@Field.Name</h5>
            }
            else
            {
                <h4 class="alert-heading">@Field.Name</h4>
            }
        }
        @if (!string.IsNullOrEmpty(Field.Description))
        {
            @foreach (var line in Field.Description.Split('\r', '\n'))
            {
                <p class="m-0">@line</p>
            }
        }
        @if (Field.Children != null)
        {
            @foreach (var child in Field.Children)
            {
                <Control Field="@child" />
            }
        }
    </div>
</div>

@code
{
    [Parameter]
    public FieldForGet Field { get; set; }
}