@using Quick.Fields

<div class="form-group">
    @if (Field.Input_ShowNameLabel == null || Field.Input_ShowNameLabel.Value)
    {
        <label for="@Field.Id">@Field.Name</label>
    }
    <div
        class="@((Field.Input_PrependText != null || Field.Input_PrependChildren != null || Field.Input_AppendText != null || Field.Input_AppendChildren != null) ? "input-group" : null)">
        @if (Field.Input_PrependText != null || Field.Input_PrependChildren != null)
        {
            <div class="input-group-prepend">
                @if (Field.Input_PrependText != null)
                {
                    <div class="input-group-text">@Field.Input_PrependText</div>
                }
                @if (Field.Input_PrependChildren != null)
                {
                    @foreach (var field in Field.Input_PrependChildren)
                    {
                        <Control Field="field" />
                    }
                }
            </div>
        }
        @if (Field.Input_ReadOnly.HasValue && Field.Input_ReadOnly.Value)
        {
            <textarea rows="@(Field.InputTextArea_Rows == null ? 10 : Field.InputTextArea_Rows.Value)"
                class="@ControlUtils.GetInputClass(Field)" @bind="@Field.Value" placeholder="@Field.Input_Placeholder"
                readonly></textarea>
        }
        else
        {
            <textarea rows="@(Field.InputTextArea_Rows == null ? 10 : Field.InputTextArea_Rows.Value)"
                class="@ControlUtils.GetInputClass(Field)" @bind="@Field.Value"
                placeholder="@Field.Input_Placeholder"></textarea>
        }
        @if (Field.Input_AppendText != null || Field.Input_AppendChildren != null)
        {
            <div class="input-group-append">
                @if (Field.Input_AppendText != null)
                {
                    <div class="input-group-text">@Field.Input_AppendText</div>
                }
                @if (Field.Input_AppendChildren != null)
                {
                    @foreach (var field in Field.Input_AppendChildren)
                    {
                        <Control Field="field" />
                    }
                }
            </div>
        }
    </div>
    @if (!string.IsNullOrEmpty(Field.Description))
    {
        <small class="form-text text-muted">@Field.Description</small>
    }
    @if (!string.IsNullOrEmpty(Field.Input_ValidationMessage))
    {
        <div class="validation-message">@Field.Input_ValidationMessage</div>
    }
</div>

@code
{
    [Parameter]
    public FieldForGet Field { get; set; }
}