@inherits ComponentBase_WithGettextSupport;
<form>
    <div class="custom-control custom-checkbox">
        <InputCheckbox  class="custom-control-input" id="cbPageIndexEditable" @bind-Value="PageIndexEditable"/>
        <label class="custom-control-label" for="cbPageIndexEditable">@TextPageIndexEditable</label>
    </div>
    <div class="custom-control custom-checkbox">
        <InputCheckbox  class="custom-control-input" id="cbDisplayPageCount" @bind-Value="DisplayPageCount"/>
        <label class="custom-control-label" for="cbDisplayPageCount">@TextDisplayPageCount</label>
    </div>
    <div class="custom-control custom-checkbox">
        <InputCheckbox  class="custom-control-input" id="cbDisplayRecordCount" @bind-Value="DisplayRecordCount"/>
        <label class="custom-control-label" for="cbDisplayRecordCount">@TextDisplayRecordCount</label>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@TextFirstName</th>
            <th scope="col">@TextLastName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in users.Skip(Offset).Take(PageSize))
        {
            <tr>
                <th scope="row">@item.Index</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
            </tr>
        }
    </tbody>
</table>
<Pagination @bind-PageSize="PageSize" @bind-Offset="Offset" RecordCount="@users.Length"
    PageIndexEditable="@PageIndexEditable"
    DisplayPageCount="@DisplayPageCount"
    DisplayRecordCount="@DisplayRecordCount">
</Pagination>