@inherits ComponentBase_WithGettextSupport;

<button class="btn btn-primary" @onclick="expandAll">@TextExpandAll</button>
<button class="btn btn-primary" @onclick="collapseAll">@TextCollapseAll</button>
<p>@TextLog@log</p>
<Tree @ref="tree" DataSource="@items"
      ChildrenExpression="@(t=>((AddressInfo) t.DataItem).Children)"
      TitleExpression="@(t=>((AddressInfo) t.DataItem).Name)"
      IsLeafExpression="@(t=>((AddressInfo) t.DataItem).Children==null)"
      IconExpression="@(t=>"fa fa-institution")"
      ShowIcon
      SelectedNodeChanged="onSelectedNodeChanged"
      TreeNodeDblClicked="onTreeNodeDblClicked">
</Tree>