@inherits ComponentBase_WithGettextSupport;

<div class="sticky-top">
        <div class="btn-toolbar m-2">
            <div class="btn-group mr-2 mb-1">
                <button type="button" class="btn btn-sm btn-secondary" @onclick="Create">
                    <i class="@IconNew" aria-hidden="true"></i>                    
                    @TextNew
                </button>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <div class="input-group-text">@TextKeywords</div>
                </div>
                <input type="text" class="form-control" @bind-value="searchKeywords">
                <div class="input-group-append">
                    <button type="button" class="btn btn-sm btn-secondary">
                        <i class="@IconSearch" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
</div>

<div class="row ml-0 mr-0 mb-2">
    @if (!ReverseProxyManager.Instance.IsEmpty())
    {
        @foreach (var t in ReverseProxyManager.Instance.GetRules(searchKeywords))
        {
            <div class="col-xl-4 col-lg-6 col-sm-12 p-2">
                <div class="card">
                    <div class="card-header">
                        <i class="@IconRule" aria-hidden="true"></i>@t.Name
                    </div>
                    <div class="card-body small p-2">
                        <p class="mb-0">
                            <span class="font-weight-bold">@TextPath: </span>@t.Path
                        </p>
                        <p class="mb-0">
                            <span class="font-weight-bold">@TextUrl: </span>@t.Url
                        </p>
                    </div>
                    <div class="card-footer p-1">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-secondary" href=".@t.Path" target="_blank" title="@TextVisit">
                                <i class="@IconVisit" aria-hidden="true"></i>
                            </a>
                            <button type="button" title="@TextEdit" class="btn btn-sm btn-secondary" @onclick="() => Edit(t)">
                                <i class="@IconEdit" aria-hidden="true"></i>
                            </button>
                            <button type="button" title="@TextDelete" class="btn btn-sm btn-secondary" @onclick="@(e=>Delete(t))">
                                <i class="@IconDelete" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<ModalWindow @ref="modalWindow" />
<ModalAlert @ref="modalAlert" />