@inherits ComponentBase_WithGettextSupport;

<div class="btn-toolbar" role="toolbar">
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="@switchId_AllowMultiplePaneActived"
            @bind-value="AllowMultiplePaneActived">
        <label class="custom-control-label"
            for="@switchId_AllowMultiplePaneActived">@TextAllowMultiplePaneActived</label>
    </div>
    <button class="btn btn-primary" @onclick="btnAdd_Click">+</button>
</div>

<Accordion NavTabsExtraClass="mb-5" AllowMultiplePanelActived="@AllowMultiplePaneActived">
    @foreach (var item in list)
    {
        <AccordionPane Key="@item">
            <Tab>@item</Tab>
            <ChildContent>
                <p>@TextPlaceholderContent</p>
            </ChildContent>
        </AccordionPane>
    }
    </Accordion>