<button class="btn btn-primary" @onclick="expandAll">Expand All</button>
<button class="btn btn-primary" @onclick="collapseAll">Collapse All</button>
<p>日志：@log</p>
<Tree @ref="tree" DataSource="@items"
      TreeClass="pl-0"
      ChildrenExpression="@(t=>((AddressInfo) t.DataItem).Children)"
      TitleExpression="@(t=>((AddressInfo) t.DataItem).Name)"
      IsLeafExpression="@(t=>((AddressInfo) t.DataItem).Children==null)"
      IconExpression="@(t=>"oi oi-aperture")"
      ShowIcon
      SelectedNodeChanged="onSelectedNodeChanged"
      TreeNodeDblClicked="onTreeNodeDblClicked">
</Tree>