@inherits ComponentBase_WithGettextSupport;

<Quick.Blazor.Bootstrap.Admin.FileManageControl @ref="fileManageControl"
    BaseDir="@BaseDir"
    Dir="@Dir"
    FileFilter="@FileFilter"
    SelectedPath="@SelectedPath"
    FileDoubleClickCustomAction="@onFileDoubleClick">
    <ToolbarAddonButtons>
        @if (fileManageControl.IsSelectedFile())
        {
            <button type="button" class="btn btn-sm btn-secondary" @onclick="Select">
                <i class="fa fa-check" aria-hidden="true"></i>
                @TextSelect
            </button>
        }
        else
        {
            <button type="button" class="btn btn-sm btn-secondary" disabled>
                <i class="fa fa-check" aria-hidden="true"></i>
                @TextSelect
            </button>
        }
    </ToolbarAddonButtons>
</Quick.Blazor.Bootstrap.Admin.FileManageControl>