@using System.Diagnostics
@using System.Linq

<div class="row">
    <div class="col-12">
        <div class="btn-toolbar mb-1">
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <div class="input-group-text">@TextKeywords</div>
                </div>
                <input type="text" class="form-control" @bind-value="searchKeywords">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" @onclick="search">
                        <span class="@IconSearch"></span>                        
                    </button>
                </div>
            </div>
            <div class="input-group mb-1 ml-2">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@TextOrderBy</div>
                    </div>
                    <button type="button" class="btn btn-secondary @getFieldButtonClass("pid")" @onclick="@(()=>changeOrderField("pid"))">@TextOrderByPID</button>
                    <button type="button" class="btn btn-secondary @getFieldButtonClass("name")" @onclick="@(()=>changeOrderField("name"))">@TextOrderByName</button>
                    <button type="button" class="btn btn-secondary @getFieldButtonClass("memory")" @onclick="@(()=>changeOrderField("memory"))">@TextOrderByMemory</button>
                </div>
            </div>
        </div>
        @if (Processes == null)
        {
            <div class="alert alert-primary" role="alert">
                @TextPressSearchButtonTip
            </div>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">@TextColumnPID</th>
                        <th scope="col">@TextColumnName</th>
                        <th scope="col">@TextColumnThreads</th>
                        <th scope="col">@TextColumnMemory</th>
                        <th scope="col">@TextColumnOperate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in Processes)
                    {
                        <tr>
                            <th scope="row">@t.Id</th>
                            <td>@t.Name</td>
                            <td>@t.Threads</td>
                            <td>@t.MemoryInfo</td>                            
                            <td>
                                <div class="btn-group">
                                    <button type="button" title="@TextKillProcess" class="btn btn-sm btn-outline-danger" @onclick="@(e => KillProcess(t, false))">
                                        <span class="@IconKillProcess"></span>                                        
                                    </button>
                                    <button type="button" title="@TextKillProcessTree" class="btn btn-sm btn-outline-danger" @onclick="@(e => KillProcess(t, true))">
                                        <span class="@IconKillProcessTree"></span>                                        
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<ModalLoading @ref="modalLoading" />
<ModalAlert @ref="modalAlert" />
