@inherits ComponentBase_WithGettextSupport;

<div class="card">
    <div class="card-header pl-2">
        @Title
    </div>

    <div class="card-body small p-0">
        <div class="m-2">
            @if (ProcessHasExited)
            {
                <span>@TextProcessHasExited</span>
            }
            else
            {
                <div class="btn-group" role="group" aria-label="BasicButtons">
                    <button type="button" class="btn btn-sm btn-secondary" @onclick="RefreshProcess">
                        @TextRefresh
                    </button>
                    <button type="button" class="btn btn-sm btn-secondary mr-1" @onclick="btnKillProcess_Click">
                        @TextKillProcessTree
                    </button>
                </div>
                @if (OtherButtons != null)
                {
                    <div class="btn-group" role="group" aria-label="BasicButtons">
                        @foreach (var button in OtherButtons)
                        {
                            <button type="button" class="btn btn-sm btn-secondary mr-1" @onclick="@(()=>button.Value(ProcessInfo))">
                                @button.Key
                            </button>
                        }
                    </div>
                }
            }
        </div>
        <table class="table table-sm table-striped table-borderless table-hover mb-0" style="overflow-wrap: anywhere;">
            <tbody>
                @if (!ProcessHasExited)
                {
                <tr>
                    <th style="min-width: 5rem;">@TextColumnMemory</th>
                    <td>@getProcessMemInfo(ProcessInfo)</td>
                </tr>
                    <tr>
                    <th>@TextColumnThreads</th>
                    <td>@ProcessInfo.ThreadsCount</td>
                </tr>
                    <tr>
                    <th>@TextColumnFileName</th>
                    <td>@ProcessInfo.FileName</td>
                </tr>
                    <tr>
                    <th>@TextColumnCmdLine</th>
                    <td>@ProcessInfo.CmdLine</td>
                </tr>
                    <tr>
                    <th>@TextColumnWorkDirectory</th>
                    <td>@ProcessInfo.WorkingDirectory</td>
                </tr>
                    <tr>
                    <th>@TextColumnStartTime</th>
                    <td>@ProcessInfo.StartTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
                    @if (ChildProcesses != null && ChildProcesses.Length > 0)
                    {
                        <tr>
                            <th>@TextChildProcesses</th>
                            <td>
                                @foreach (var childProcess in ChildProcesses)
                                {
                                    @if (childProcess == CurrentChildProcess)
                                    {
                                        <button class="btn btn-sm btn-primary mr-1 mb-1">
                                            [@childProcess.PID] @childProcess.Name
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-sm btn-secondary mr-1 mb-1" @onclick="@(e=>CurrentChildProcess = childProcess)">
                                            [@childProcess.PID] @childProcess.Name
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                @if (!string.IsNullOrEmpty(ExceptionString))
                {
                    <tr>
                        <th>@TextColumnError</th>
                        <td>@ExceptionString</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (CurrentChildProcess != null)
{
    <div class="m-2"></div>
    <ProcessViewControl PID="@CurrentChildProcess.PID" OtherButtons="@OtherButtons"></ProcessViewControl>
}
<ModalAlert @ref="modalAlert" DialogSizeExtraLarge />
<ModalLoading @ref="modalLoading" />
<ModalWindow @ref="modalWindow" DialogSizeExtraLarge />