@using System.Diagnostics
@using System.Linq
@inherits ComponentBase_WithGettextSupport;

<div class="row">
    <div class="col-12">
        <div class="btn-toolbar mb-1">
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <div class="input-group-text">@TextKeywords</div>
                </div>
                <input type="text" class="form-control" @bind-value="searchKeywords">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" @onclick="search">
                        <span class="@IconSearch"></span>                        
                    </button>
                </div>
            </div>
        </div>
        @if (Processes == null)
        {
            <div class="alert alert-primary" role="alert">
                @TextPressSearchButtonTip
            </div>
        }
        else
        {
                <table class="table table-hover" style="overflow-wrap: anywhere;">
                    <thead>
                        <tr>
                            <th scope="col" class="p-0 m-0">
                                <button type="button" class="btn btn-light btn-block m-0 rounded-0 text-left" @onclick="@(()=>changeOrderByAscOrDesc("pid"))">
                                    <i class="@getOrderByButtonIconClass("pid")" aria-hidden="true"></i>
                                    @TextColumnPID
                                </button>
                            </th>
                            <th scope="col" class="p-0 m-0">
                                <button type="button" class="btn btn-light btn-block m-0 rounded-0 text-left" @onclick="@(()=>changeOrderByAscOrDesc("name"))">
                                    <i class="@getOrderByButtonIconClass("name")" aria-hidden="true"></i>
                                    @TextColumnName
                                </button>
                            </th>
                            <th scope="col" class="p-0 m-0">
                                <button type="button" class="btn btn-light btn-block m-0 rounded-0 text-left" @onclick="@(()=>changeOrderByAscOrDesc("threads"))">
                                    <i class="@getOrderByButtonIconClass("threads")" aria-hidden="true"></i>
                                    @TextColumnThreads
                                </button>
                            </th>
                            <th scope="col" class="p-0 m-0">
                                <button type="button" class="btn btn-light btn-block m-0 rounded-0 text-left" @onclick="@(()=>changeOrderByAscOrDesc("memory"))">
                                    <i class="@getOrderByButtonIconClass("memory")" aria-hidden="true"></i>
                                    @TextColumnMemory
                                </button>
                            </th>
                            <th scope="col" class="p-0 m-0">
                                <button type="button" class="btn btn-light btn-block m-0 rounded-0 text-left">
                                    @TextColumnOperate
                                </button>
                            </th>
                        </tr>
                    </thead>
                <tbody>
                    @foreach (var t in Processes)
                    {
                        <tr>
                            <th scope="row">@t.PID</th>
                            <td>@t.Name</td>
                            <td>@t.ThreadsCount</td>
                            <td>@getProcessMemInfo(t)</td>                            
                            <td>
                                <div class="btn-group">
                                    <button type="button" title="@TextViewProcess" class="btn btn-sm btn-outline-info" @onclick="@(e => ViewProcess(t))">
                                        <span class="@IconViewProcess"></span>                                        
                                    </button>
                                    <button type="button" title="@TextKillProcess" class="btn btn-sm btn-outline-danger" @onclick="@(e => KillProcess(t, false))">
                                        <span class="@IconKillProcess"></span>                                        
                                    </button>
                                    <button type="button" title="@TextKillProcessTree" class="btn btn-sm btn-outline-danger" @onclick="@(e => KillProcess(t, true))">
                                        <span class="@IconKillProcessTree"></span>                                        
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<ModalLoading @ref="modalLoading" />
<ModalAlert @ref="modalAlert" />
<ModalWindow @ref="modalWindow" DialogCentered="false" DialogSizeExtraLarge />