@inherits ComponentBase_WithGettextSupport

<EditForm Model="@this">
    @if (OpenException == null)
    {
        <div class="btn-toolbar mb-1">
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <div class="input-group-text">@TextHeidht</div>
                </div>
                <InputNumber class="form-control" @bind-Value="Rows" style="width:8rem;" />
            </div>
            <div class="input-group mb-1 ml-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@TextEncoding</div>
                </div>
                <InputSelect @bind-Value="FileEncoding" class="form-control">
                    @foreach (var t in EncodingDict.Keys)
                    {
                        <option value="@t">@t</option>
                    }
                </InputSelect>
            </div>
            <div class="input-group mb-1 ml-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@TextTheme</div>
                </div>
                <InputSelect @bind-Value="Theme" class="form-control">
                    @foreach (var t in Enum.GetNames<ThemeMirrorTheme>())
                    {
                        <option value="@t">@t</option>
                    }
                </InputSelect>
            </div>
            <div class="input-group mb-1 ml-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@TextLanguage</div>
                </div>
                <InputSelect @bind-Value="Language" class="form-control">
                    @foreach (var t in Enum.GetNames<CodeMirrorLanguage>().OrderBy(t=>t))
                    {
                        <option value="@t">@t</option>
                    }
                </InputSelect>
            </div>
            <div class="input-group mb-1 ml-2">
                <button type="button" class="btn btn-secondary" @onclick="Save"><i class="@IconSave" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="border">
            <CodeMirror6Wrapper Theme="@Theme" Language="@Language" @bind-Doc="Content" MaxHeight="@($"{Rows}em")" />
        </div>
    }
    else
    {
        <div class="border">
            <CodeMirror6Wrapper Theme="@Theme" Language="@Language" @bind-Doc="Content" MaxHeight="@($"{Rows}em")" ReadOnly="true" />
        </div>
    }
</EditForm>

<ModalAlert @ref="modalAlert" />